@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    color: rgb(24, 24, 24);
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* ---------------------------------shared-style----------------------------------- */
.menu-bar{
    display:none;
}

.menu-bar i{
    font-size:1.5rem;
}
.flex{
    display:flex;
    align-items:center;
}


p{
    color: rgb(117, 117, 117);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
}

.main-title{
    text-align:center;
    margin-bottom:2rem;
}

.main-title h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom:1.8rem;
}


.btn{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border:none;
    padding:18px 17px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-right:30px;
    cursor:pointer;
}

.btn i{
    color: rgb(255, 255, 255);
}

.secondary-btn{
    background:none;
    border: 1px solid rgb(253, 110, 10);
    color:rgb(253, 110, 10);
}

.secondary-btn i{
    color:rgb(253, 110, 10);
}

main section{
    max-width:1100px;
    margin:120px auto;
}

/* ----------------------------------header-section------------------------------------- */

.header{
    background: rgb(255, 248, 243);
    background-size:cover;
}

.header-area{
    max-width:1536px;
    margin:0 auto;
    position:relative;
}

.header .navbar{
    justify-content:space-between;
    padding:3rem 15%;
}

.header .navbar h1{
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 61px;
}

.header .navbar span{
    color:rgb(253, 110, 10);
}

.header .nav-menu{
    gap:2rem;
}

.header .nav-menu li a{
    color: rgb(71, 71, 71);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.header .nav-menu li button{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border:none;
    padding:1rem 1.5rem;
}

.header .nav-menu li button a{
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.2rem;
}

/* -----------------banner-section---------------------- */
.banner-section{
    justify-content:space-between;
    margin-left:230px;
    position:relative;
}

.banner-section .banner-details{
   width:50%;
}

.banner-section .banner-details h3{
    color: rgb(71, 71, 71);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.2rem;
}


.banner-section .banner-details h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 7.5rem;
    margin-bottom:1.2rem;
}

.banner-section .banner-details p{
    margin-bottom:1.8rem;
}

.banner-section .banner-img{
    width:42%;
    z-index:5;
} 


.banner-section .banner-img img{
    width:100%;
}


.developer-img{
    position:absolute;
    top:3rem;
    left:.5rem;
}


.header-bg{
    position:absolute;
    top:365px;
    left:768px;
}

/* --------------------about-section------------------------- */
.about-section{
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding:7.5rem;
    text-align:center;
}

.about-address{
    justify-content:center;
    margin-top:1.8rem;
    gap:3rem;
}

.about-address > div h3{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.about-address > div p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
}


/* --------feature-section------------------------ */
.feature-section .main-title{
    padding:0 6.5rem;
}

.feature-container{
    gap:1.5rem;
}
.feature-container .feature-card{
    padding:2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.feature-container .feature-card h4{
    margin:1.8rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
}

/* ---------------------resume-container------------------- */
.reusme-container{
    align-items:center;
    justify-content:center;
    gap:4.5rem;
}

.reusme-container .resume-card{
    padding:1.8rem 1rem 1.8rem 0;
}

.res-heding{
    color: rgb(71, 71, 71);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-bottom:.5rem;
}

.resume-card h4{
    color: rgb(71, 71, 71);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom:.5rem;
}

h3.resume-title{
    margin-bottom:3.8rem;
}

.resume-card .res-institute{
    color: rgb(117, 117, 117);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom:1.8rem;
}

.resume-btn{
    text-align:center;
    margin-top:3rem;
}

/* ------------------footer-section----------------------- */
.footer{
    background: rgb(255, 248, 243);
}

.footer-section{
    max-width:1100px;
    margin:0 auto;
    gap:7rem;
    margin-bottom:130px;
    padding:130px 0;
    align-items: baseline;
}


.footer-section .footer-right form{
    display:flex;
    flex-direction: column;
    gap:1.5rem;
}

.footer-section .footer-right form input {
    width: 480px;
    padding: 24px 18px;
    border-radius: .5rem;
    outline: none;
    border:none;
}

.footer-section .footer-right form input::placeholder,
.footer-section .footer-right form textarea::placeholder {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
}

.footer-section .footer-right form textarea {
    width: 480px;
    height:180px;
    padding: 24px 18px;
    border-radius: .5rem;
    outline: none;
    border:none;
    resize:none;
}

.footer-title{
    color: rgb(24, 24, 24);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom:1.8rem;
}

.footer-left p{
    color: rgb(71, 71, 71);
    margin:1.5rem 0;
}


.footer-left .media-icon{
    display:flex;
    align-items:center;
    gap:1rem;
    font-size:1.2rem;
}

.footer-left .media-icon .link i{
    height:1.5rem;
    width:1.5rem;
    border:1px dashed #ab9b9b;
    color:rgb(253, 110, 10);;
    display:flex;
    align-items:center;
    justify-content:center;
}

.footer-section .footer-right input[type=submit] {
    width: 150px;
    height:64px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color:#fff;
    font-weight:700;
    font-size:20px;
    cursor: pointer;
}


@media screen and (max-width:576px) {
    .menu-bar{
        display:block;
    }

    .header .nav-menu{
        display:none;
    }

    .header .navbar{
        padding:2rem 5%;
    }
    .banner-section{
        flex-direction:column-reverse;
        margin-left:0;
    }

    .banner-section .banner-details{
        width:90%;
        text-align:center;
     }
     .banner-section .banner-details h3{
         font-size: 2rem;
     }
     
     .banner-section .banner-details h1{
         font-size: 2.5rem;
         line-height:3.5rem;
     }
      
     .banner-section .banner-img{
         width:90%;
     } 
     
     .banner-section .banner-img img{
         width:100%;
     }
     
     .developer-img{
         display:none;
     }
     
    .btn{
    font-size: 1rem;
    margin-right:.5rem;
    }


    /* ------------responsive-feature --------------*/
    .feature-container{
       flex-direction:column;
    }
    .feature-container .feature-card{
        margin:0 .5rem;
    }
    .feature-section .main-title{
        padding:0 1rem;
    }

    /* ----------------responsive-about------------- */
    .about-address{
        flex-direction:column;
    }

    .about-section{
        padding:1rem;
    }

    /*-------------- footer-section -------------*/
    .footer-section{
        flex-direction: column;
    }

    .footer-left,
    .footer-right{
        padding:1rem;
    }

    .footer-section .footer-right form input,
    .footer-section .footer-right form textarea {
        width:108%;
    }

    /* resume-responsive */

    .reusme-container{
        flex-direction:column;
    }

    .reusme-container .resume-card{
        padding:1rem;
        text-align:center;
    }

    .res-heding{
        text-align:center;
    }

    .resume-btn{
        margin-left:2rem;
    }
}



/* @media screen and (min-width:576px) and (max-width:992px) */

@media screen and (min-width:576px) and (max-width:992px) {
    /* banner-responsive */
    
    /* --------------feature-section------------ */
    .feature-container{
        flex-direction:column;
     }

     /* ---------------about-section--------------- */
     .about-address{
        flex-direction:column;
    }

    .about-section{
        padding:1rem;
    }

    /* -------------------footer-section------------------ */
    .footer-section{
        flex-direction: column;
    }

    .footer-left,
    .footer-right{
        padding:2rem;
    }

    .footer-section .footer-right form input,
    .footer-section .footer-right form textarea {
        width:775px;
    }

    /* resume-responsive */

    .reusme-container{
        flex-direction:column;
    }

    .reusme-container .resume-card{
        padding:1rem;
        text-align:center;
    }

    .res-heding{
        text-align:center;
    }

    .resume-btn{
        margin-left:2rem;
    }

    .header .navbar{
        padding:2rem 5%;
    }

    .banner-section{
        flex-direction:column-reverse;
        margin-left:0;
    }

    .banner-section .banner-details{
        width:90%;
        text-align:center;
     }

     .banner-section .banner-details h1{
         font-size: 3.5rem;
         line-height:4.5rem;
     }
      
     .banner-section .banner-img{
         width:90%;
     } 
     
     .developer-img{
         display:none;
     }
     
     .header-bg{
         display:none;
     }

}





